# Can ignore specific files
.DS_Store
Makefile*

# Use wildcards as well
*~
*.swp
*.o
*.user
*.rc

# Can also ignore all directories and files in a directory.
tmp/
build/
bin/
src/debug/
src/release/
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
